profile = default
break-infix = fit-or-vertical
if-then-else = k-r
indicate-multiline-delimiters = closing-on-separate-line
leading-nested-match-parens = true
parse-docstrings = true
type-decl = sparse
wrap-comments = true
