break-cases = toplevel
break-collection-expressions = fit-or-vertical
break-fun-decl = fit-or-vertical
break-infix = fit-or-vertical
break-infix-before-func = false
break-separators = after-and-docked
break-sequences = true
cases-exp-indent = 2
doc-comments-padding = 1
field-space = loose
if-then-else = k-r
leading-nested-match-parens = true
let-and = sparse
let-open = preserve
module-item-spacing = preserve
parens-ite = true
parens-tuple = always
parens-tuple-patterns = always
parse-docstrings = true
sequence-style = terminator
single-case = sparse
space-around-records = true
type-decl = sparse
wrap-comments = true